
<div id="map-canvas"></div>
<div class="container-fluid" id="main">
  <div class="row">
  	<div class="col-xs-8" id="left">
    
      <h2>Bootstrap Google Maps Demo</h2>
      
      <!-- item list -->
      <div class="panel panel-default">
        <div class="panel-heading"><a href="/toilets/closest">Take me to the closest toilet!</a></div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
        Aliquam in felis sit amet augue.</p>
      
      <hr>
      
      <div class="panel panel-default">
        <div class="panel-heading"><a href="">Item heading</a></div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
        Aliquam in felis sit amet augue.</p>
      
      <hr>
      
      <div class="panel panel-default">
        <div class="panel-heading"><a href="">Item heading</a></div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
        Aliquam in felis sit amet augue.</p>
      
      <hr>
      
      <div class="panel panel-default">
        <div class="panel-heading"><a href="">Item heading</a></div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
        Aliquam in felis sit amet augue.</p>
      
      <hr>
      <!-- /item list -->
      
      <p>
      <a href="http://www.bootply.com/render/129229">Demo</a> | <a href="http://bootply.com/129229">Source Code</a>
      </p>
      
      <hr> 
        
      <p>
      <a href="http://bootply.com" target="_ext" class="center-block btn btn-primary">More Bootstrap Snippets on Bootply</a>
      </p>
        
      <hr>      

    </div>
    <div class="col-xs-4"><!--map-canvas will be postioned here--></div>
    
  </div>
</div>

<script type="text/javascript">
		var map;
      
		//Create google map
		function initMap() {
		  map = new google.maps.Map(document.getElementById('map-canvas'), {
  			center: {lat: 53.0, lng: -1.0 },
  			zoom: 6
  	  });
  	  
  		$.ajax({
          type: "GET",
          url: "/toilets/get_json_all",
          dataType: "json",
          success: function(alltoilets){
            setMarkers(alltoilets, map);
            setCurrentPosition(map);
          }      
      });
		}
		
    function setMarkers(alltoilets, map) {
      var len = alltoilets.toilets.length;
      for (var i = 0; i < len; i++) { //initialize markers
        var id = alltoilets.toilets[i].id;
        var x = alltoilets.toilets[i].geox;
        var y = alltoilets.toilets[i].geoy;
        var ref = alltoilets.toilets[i].coordinatereferencesystem;
        var title = "Toilet at " + alltoilets.toilets[i].streetaddress
        if (alltoilets.toilets[i].streetaddress == null) {
          var title = "Toilet";
        }
        
        if (ref == "OSGB36") {
            	osgb=new GT_OSGB();
            	osgb.setGridCoordinates(x, y);
            	wgs84 = osgb.getWGS84();		
            	y = wgs84.latitude; x = wgs84.longitude;
        }
        if (x != null && y != null) {
          var marker = new google.maps.Marker({
          	position: {lat: y, lng: x },
          	map: map,
          	title:title
          });
          
          
          //get information for info window
          var information = {
        			"City: ": alltoilets.toilets[i].organisationlabel,
        			"Location: ": alltoilets.toilets[i].locationtext,
        			"Street: ": alltoilets.toilets[i].streetaddress,
        			"Category: ": alltoilets.toilets[i].category,
        			"Baby Change: ": alltoilets.toilets[i].babychange,
        			"Charge: ": alltoilets.toilets[i].chargeamount,
        			"Hours: ": alltoilets.toilets[i].openinghours,
        			"Report Email: ": alltoilets.toilets[i].reportemail,
        			"Is RadayKey needed?: ": alltoilets.toilets[i].radarkeyneeded
        		}
          
          //generate info window string
          var content = '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h4 id="firstHeading" class="firstHeading"><a class="info-window-title" href="/toilets/' + id + '">' + title + '</a></h4>'+
          '<div id="bodyContent"> <ul>';
          
          for (key in information) {
            var value = information[key];
            if (value != null && key != "Report Email: ") {
              value.replace(value[0], value[0].toUpperCase());
            }
            if (key !=  null && value != null) content += "<li>" + key + value + "</li>"
          }
         
          content += '</ul> ' +
          '<a href="/toilets/' + id + '"> Click here to read more </a>' +
          '</div></div>';
        }
        //create info window
        var infowindow = new google.maps.InfoWindow({
          content: content,
          maxWidth: 300, 
          pixelOffset: 0
        });
        var lastwindow; //auto-close
        google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ //marker clicked
            return function() {
                if(lastwindow) lastwindow.close();
                infowindow.setContent(content);
                infowindow.open(map,marker);
                lastwindow = infowindow;
            };
        })(marker,content,infowindow));  
      }
    }
    
    function setCurrentPosition(map) {
      // W3C Browser Location
      if(navigator.geolocation) {
        browserSupportFlag = true;
        navigator.geolocation.getCurrentPosition(function(position) {			
        var location = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
        map.setCenter(location);
        var marker = new google.maps.Marker({
        	position: location,
        	map: map,
        	icon: 'https://maps.google.com/mapfiles/ms/icons/blue-dot.png'
        });
      }, function() {});
      }
    }
</script>
	
	
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsrwi8Uo3FnFtArv67k4sxWbTNz6kGN24&callback=initMap"></script>