<!-- by Marcel Zak and Mikolaj Panasiuk -->
<div id="map-canvas"></div>
<% unless mobile? %>
<div class="container-fluid" id="main"><div class="row"><div class="col-xs-6" id="left">
<%else%>
<div class="col-xs-12" id="down"><div><div>
<% end%>

      <h2></h2><!-- some sort of title? -->
      <!-- item list -->
      <% if user_exist? && User.find(session[:user_id]).admin %>
        <div class="panel panel-default">
          <div class="panel-heading">Administrator Options</div>
        </div>
        <p>
          <a href ="/users">Browse Users, Grant and revoke administrator permissions, delete users.</a><br />
          <a href="/toilets/new">Add a new Toilet to the database.</a>
        </p>
      <% end %>
      
      <hr>
      
      <div class="panel panel-default">
        <div class="panel-heading">How To use HurryApp</div>
      </div>
      <p>
        Click the nearest toilet link on the bar above to find the toilet closest to your location, or use the map on the right to 
        find the toilet of your interest. Register and log in to see the ratings and comments of toilets. To find the closest toilets or
        directions to specific toilets <b>you must enable locationing either in your browser, or in your smartphone settings</b>.
      </p>
      
      <hr>
      
      <div class="panel panel-default">
        <div class="panel-heading"><a href="">What is a Radar Key?</a></div>
      </div>
      <p>
        Radar Key is a key that can be used to access public toilets which are closed due to various reasons.
        Many toilets listed as requiring the Radar Key, may in fact only be required during certain hours (for example when 
        the toilet is closed for the night).
        You can buy a Radar Key on the Internet.
        <a href="http://www.bbc.co.uk/news/blogs-ouch-22602836">Find out more about Radar Key.</a>
      </p>
      
      <hr>
      
      <div class="panel panel-default">
        <div class="panel-heading"><a href="">You know of a toilet which is not listed?</a></div>
      </div>
      <p>
        If you happen to know about a location and details of a toilet, which is not available in our app, let us know. Write and email
        to us or to any of the moderators (We do not have a contact email yet and neither do we have any moderators).
      </p>
      
      <hr>
      
      <div class="panel panel-default">
        <div class="panel-heading"><a href="">Help make the experience with Hurry App better</a></div>
      </div>
      <p>
        If you use our app regularly, register, rate and leave comments. Your opinions and influence will help other users and 
        improve the website and community. If you like what you get, tell yout friends about us.
      </p>

    </div>
    <div class="col-xs-4"><!--map-canvas will be postioned here--></div>
    
  </div>
</div>
<%= javascript_tag do %>
  window.user_id = "<%= session[:user_id] %>";
<% end %>

<script type="text/javascript">
		var map;
      
		//Create google map
		function initMap() {
		  map = new google.maps.Map(document.getElementById('map-canvas'), {
  			center: {lat: 53.0, lng: -1.0 },
  			zoom: 6
  	  });
  	  
  		$.ajax({
          type: "GET",
          url: "/toilets/get_json_all",
          dataType: "json",
          success: function(alltoilets){
            setMarkers(alltoilets, map);
            setCurrentPosition(map);
          }      
      });
		}
		
    function setMarkers(alltoilets, map) {
      var len = alltoilets.toilets.length;
      for (var i = 0; i < len; i++) { //initialize markers
        var id = alltoilets.toilets[i].id;
        var x = alltoilets.toilets[i].geox;
        var y = alltoilets.toilets[i].geoy;
        var ref = alltoilets.toilets[i].coordinatereferencesystem;
        var title = "Toilet at " + alltoilets.toilets[i].streetaddress
        if (alltoilets.toilets[i].streetaddress == null) {
          var title = "Toilet";
        }
        
        if (ref == "OSGB36") {
            	osgb=new GT_OSGB();
            	osgb.setGridCoordinates(x, y);
            	wgs84 = osgb.getWGS84();		
            	y = wgs84.latitude; x = wgs84.longitude;
        }
        if (x != null && y != null) {
          var marker = new google.maps.Marker({
          	position: {lat: y, lng: x },
          	map: map,
          	title:title
          });
          
          
          //get information for info window
          var information = {
        			"City: ": alltoilets.toilets[i].organisationlabel,
        			"Location: ": alltoilets.toilets[i].locationtext,
        			"Street: ": alltoilets.toilets[i].streetaddress,
        			"Category: ": alltoilets.toilets[i].category,
        			"Baby Change: ": alltoilets.toilets[i].babychange,
        			"Charge: ": alltoilets.toilets[i].chargeamount,
        			"Hours: ": alltoilets.toilets[i].openinghours,
        			"Report Email: ": alltoilets.toilets[i].reportemail,
        			"Is RadayKey needed?: ": alltoilets.toilets[i].radarkeyneeded
        		}
          
          //generate info window string
          var content = '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h4 id="firstHeading" class="firstHeading"><a class="info-window-title" href="/toilets/' + id + '">' + title + '</a></h4>'+
          '<div id="bodyContent"> <ul>';
          
          for (key in information) {
            var value = information[key];
            if (value != null && key != "Report Email: ") {
              value.replace(value[0], value[0].toUpperCase());
            }
            if (key !=  null && value != null) content += "<li>" + key + value + "</li>"
          }
         
          content += '</ul> ';
          /*if (user_id) {
           content += '<h5>Rating:&nbsp;&nbsp;' + alltoilets.toilets[i].rating + '</h5>';
          }*/
          content += '<a href="/toilets/' + id + '"> Click here to read more </a>' +
          '</div></div>';
        }
        //create info window
        var infowindow = new google.maps.InfoWindow({
          content: content,
          maxWidth: 300, 
          pixelOffset: 0
        });
        var lastwindow; //auto-close
        google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ //marker clicked
            return function() {
                if(lastwindow) lastwindow.close();
                infowindow.setContent(content);
                infowindow.open(map,marker);
                lastwindow = infowindow;
            };
        })(marker,content,infowindow));  
      }
    }
    
    function setCurrentPosition(map) {
      // W3C Browser Location
      if(navigator.geolocation) {
        browserSupportFlag = true;
        navigator.geolocation.getCurrentPosition(function(position) {			
        var location = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
        map.setCenter(location);
        var marker = new google.maps.Marker({
        	position: location,
        	map: map,
        	icon: 'https://maps.google.com/mapfiles/ms/icons/blue-dot.png'
        });
      }, function() {});
      }
    }
</script>
	
	
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsrwi8Uo3FnFtArv67k4sxWbTNz6kGN24&callback=initMap"></script>