<div id="map-canvas">
	
</div>


<div class="container-fluid" id="main">
<div class="information">
	<!-- present toilet information -->
	<ul>
		<% @information.each do |key, value| %>
			<% if value != nil %>
				<li><%= key %><%= key == "Report Email: " ? value : value.capitalize %></li>
			<% end %>
		<% end %>
	</ul>
</div>
</div>

<%= javascript_tag do %>
  window.toiletid = "<%= params[:id] %>";
<% end %>
<script type="text/javascript">
	function initMap() {
		map = new google.maps.Map(document.getElementById('map-canvas'), {
			center: {lat: 53.0, lng: -1.0 },
			zoom: 6
		});
  	  
		$.ajax({
			type: "GET",
			url: "/toilets/get_json_id/" + toiletid,
			dataType: "json",
			success: function(toilet){
				var x = toilet.geox;
				var y = toilet.geoy;
				var ref = toilet.coordinatereferencesystem;
				if (ref == "OSGB36") {
					osgb=new GT_OSGB();
					osgb.setGridCoordinates(x, y);
					wgs84 = osgb.getWGS84();		
					y = wgs84.latitude; x = wgs84.longitude;
				}
				if (x != null && y != null) {
					var marker = new google.maps.Marker({
						position: {lat: y, lng: x },
						map: map
					});
					map.setCenter({lat: y, lng: x });
				} else {
					console.log("NO COORDINATES");
				}     
			}
		});
	}

</script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsrwi8Uo3FnFtArv67k4sxWbTNz6kGN24&callback=initMap"></script>
